.title{
    color: blue;
}

.bg-background{
    background-image:url(../../public/media/assets-cached.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.active-custom{
    color: red !important;
    font-weight:bold ;
}



    