.title{
    color: blue;
}

.bg-background{
    background-image:url(/assets-cached.jpg)!important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



    